logs
project/project
project/target
target
tmp
.history

# Some common ignores from https://github.com/github/gitignore

# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

# Ignore Play! working directory #
db
eclipse
log
logs
precompiled
tmp
test-result
eclipse
server.pid
