<!DOCTYPE html>

<html>

	<head>
		<title>#{get 'title' /}</title>
		<meta charset="${_response_encoding}">
		<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap.min.css'}">
		<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
		#{get 'moreStyles' /}
		<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
		<script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		#{get 'moreScripts' /}
	</head>
	
<body>

	<div class="container">

		<div class="hero-unit">
			<h1>Phunt</h1>
			<p>Real life photo scavenger hunt with a twist! Explore your surroundings with others and find new cool places. Multiple game modes including travelling with a motor vehicle, bicycle or by foot.</p>
			<p>
				<a class="btn btn-primary btn-large">Order a newsletter &raquo;</a>
			</p>
		</div>

		<div class="row">

			<div class="span4">
				<img src="/public/images/android.png" alt="Android" />
				<h2>Android</h2>
				<p>Download the application now and join the games near you now! The application requires a phone with a camera, a gps locator and an internet connection. The whole service is totally free.</p>
				<p>
					<a class="btn" href="/public/files/android.package">Download now &raquo;</a>
				</p>
			</div>

			<div class="span4">
				<img src="/public/images/iphone.png" alt="iPhone" />
				<h2>iPhone</h2>
				<p>The iPhone client is ready but not in Apple store just yet. To get the latest updates of what's happening, order our newsletter by clicking the large button on the top of the page. We will let you know when the application is available for downloading!</p>
				<p>
					<a class="btn" href="/public/files/android.package">Coming soon &raquo;</a>
				</p>
			</div>

			<div class="span4">
				<img src="/public/images/windowsPhone.png" alt="Windows Phone" />
				<h2>Windows Phone</h2>
				<p>The Windows Phone client is also fully ready but not yet available in Windows marketplace. Subscribe to your newsletter and we will let you know when it can be downloaded!</p>
				<p>
					<a class="btn" href="#">Coming soon &raquo;</a>
				</p>
			</div>
		</div>
		
	</div>

</body>
</html>